<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @receipt.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @receipt.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @receipt.amount %>
</p>

<p>
  <strong>Type:</strong>
  <%= @receipt.type %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
